<!DOCTYPE html>
<html>
  <head>
     <h1> Record History</h1>
  </head>  
<body>
  {% if user == "admin" %}
     <form action="" method="post">
       <input type="hidden" name="csrf_token" id="csrf_token" value="{{ value }}">
       Enter User <input type="text" placeholder="Input Text" name="inputtext"  id=inputtext required>
       <input type="submit" name="submit">
     </form>
  {% endif %}
  
  {% if message1 %}
  <p id=numqueries>{{ message1 }}</p>
  <p id=querylist>{{ message2 }}</p>
     {% for query in message2 %}
  <p id="{{ query }}">query</p>
       <!--<a href={{ url_for('name', name=query) }} id="{{ query }}">{{ query }}</a>-->
     {% endfor %}
  {% else %{
  <p> unauthorized </p>
  {% endif %}
</body>
</html>
© 2019 GitHub, Inc.
