<!DOCTYPE html>
<html>
  <head>
     <h1> Login History</h1>
  </head>  
<body>
  {% if user == "admin" %}
     <form action="" method="post">
       <input type="hidden" name="csrf_token" id="csrf_token" value="{{ value }}">
       Enter User <input type="text" placeholder="Input Text" name="inputtext"  id=inputtext required>
       <input type="submit" name="submit">
     </form>
  {% endif %}
  {% if message %}
    <p id=result>{{ message }}</p>
  {% endif %}
</body>
</html>
© 2019 GitHub, Inc.
