<!DOCTYPE html>
<html>
  <head>
     <h1> Login History</h1>
  </head>  
<body>
  <p id=result>{{ message }}</p>
  {% if user == "admin" %}
  <form action="" method="post">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ value }}">
    Enter User <input type="text" placeholder="Input Text" name="inputtext"  id=inputtext required>
    <input type="submit" name="submit">
  </form>
  {% endif %}
  (% if inputuser %}
  <h3> Login history for {{ inputuser }}</h3>
  {% for loginnum in message1 %}
  <dl>
    <dt id="login{{ loginnum }}">Login# {{ loginnum }}</dt>
    <dd id="login{{ loginnum}}_time"> Login time: {{ message2 }}</dd>
    <dd id="logout{{ loginnum}}_time"> Logout time: {{ message3 }}</dd>
  </dl>
  {% endfor %}
  {% endif %}
</body>
</html>
© 2019 GitHub, Inc.
